#headToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 12px;
    border: 1px solid #222222;
    box-shadow: 0 2px 0px 1px #222222;
    background-color: #f15a26;
    color: #fcfcfc;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#headToTop:hover {
    opacity: 1;
}

#headToTop:active {
    scale: 0.9;
}

.item-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 75px 0;
}

.tabs {
    width: 100%;
}

.tabs div {
    gap: 4px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.tabs .tab-button {
    width: 100%;
    padding: 20px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    opacity: 0.8;
    cursor: pointer;
    border: 2px solid #222222;
    transition: all 0.3s ease-in-out;
}

.tabs .tab-button:hover {
    opacity: 1;
    color: #b53440;
    border: 2px solid #722128;
}

.tabs .tab-button.active {
    color: #b53440;
    font-weight: 600;
    background-color: #f1592634;
}

.search {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 6px;
    border: solid 2px #222222;
    width: 100%;
    max-width: 450px;
}

#searchButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#searchButton:hover {
    color: #b53440;
}

.search-icon {
    width: 20px;
    height: 20px;
}

#searchInput {
    border: none;
    padding: 10px;
    width: 100%;
}

.show {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.show button {
    padding: 18px 24px;
    border: none;
    background-color: #f15a26;
    color: #fcfcfc;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.show button:hover {
    background-color: #722128;
}

.stocks {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    color: #222222;
    opacity: 0.6;
    font-size: 13px;
}

.stocks span {
    font-weight: 600;
}

.filters {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2px;
}

.filters div {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.filters div:hover {
    opacity: 1;
}

.filters label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filter-icon {
    width: 20px;
    height: 20px;
    color: #b53440;
}

.filter-select {
    width: 20px;
    border: none;
    cursor: pointer;
    direction: rtl;
}

.item-functions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
}

.item-list {
    padding: 0 0 150px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    width: 100%;
    box-sizing: border-box;
}

.item {
    width: 100%;
    border: 2px solid #222222;
    padding: 16px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.item:hover {
    box-shadow: 0 15px 0px 7px #222222;
}

.item-available,
.item-unavailable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: inherit;
}

.item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.item .item-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.item .item-info .name {
    font-family: "Michroma", sans-serif;
    border-bottom: 2px solid #f15a26;
}

.item .item-info .price,
.item .item-info .serving span {
    font-weight: 600;
}

.item .item-info .price {
    width: 100%;
    background-color: #f1592615;
    padding: 12px;
    margin-top: 10px;
    border-radius: 15px;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .tabs div {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1024px) {
    .tabs div {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    #headToTop {
        bottom: 20px;
        right: 20px;
    }

    .show button {
        width: 100%;
    }

    .tabs div {
        grid-template-columns: repeat(2, 1fr);
    }

    .tabs .tab-button {
        padding: 10px;
        font-size: 14px;
    }

    .search-icon {
        width: 15px;
        height: 15px;
    }

    .filter-icon {
        width: 15px;
        height: 15px;
    }

    .filter div {
        padding: 9px;
    }
}
